*.Rproj
*.Rhistory
*.RData
*.Ruserdata
*.png
.github/
/.quarto/
/_freeze/
_extensions/
/_site/
/.luarc.json
/J-PAL
/docs/J-PAL
tailored-cv/
**/*.quarto_ipynb
site_libs/
_*.qmd
*_files/
.vscode/
prompts/