/* css styles */
table {
    border-collapse: collapse;
  }
  
  table, th, td {
    border: none !important;
  }
  
  table tr:first-child th {
    border-top: none !important;
  }
  p {
    margin-bottom: 1.5rem;
  }

